@media only screen and (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        .home {
            grid-template-areas: 
            "img"
            "aboutMe";
            color: black;
        }
    }
}