$background-color: rgb(200, 232, 240);
$nav-foot-back-col: rgba(169, 234, 236, 0.842);
$primary-color: rgb(14, 14, 14);
$hover-link-color: rgb(235, 13, 13);
$link-color: rgb(23, 2, 247);

@mixin navFootStyle {
    background-color: $nav-foot-back-col;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    font-size: larger;
}