$background-color: rgb(200, 232, 240);
$nav-foot-back-col: rgba(169, 234, 236, 0.842);
$primary-color: rgb(49, 49, 49);
$hover-link-color: rgb(235, 13, 13);
$link-color: rgb(23, 2, 247);

$max-width-pics: 340px;
$max-width-mobil-pics: 200px;

@mixin linkstyle {
    a {
        text-decoration-line: none;
        color: $link-color;
        // the site is not big so moving around wont be a problem, no need for change of color 
        &:visited {
            color: $link-color;
        }
        &:hover {
            color: $hover-link-color;
            text-decoration-line: underline;
        }            
    }
}

@mixin navAndFootStyle {
    background-color: $nav-foot-back-col;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    img {
        padding-right: 0.4em;
    }
    @include linkstyle;
    // i wanted everything in mixin linkstyle 
    // but had to add some stuff to navbar and footer
    a {
        display: flex;
        align-items: center;
        font-size: larger;          
    }
}

// wanted to try an animation, i put it on ACME picture
@keyframes swinging {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}