@import "settings";

* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 30px;
    grid-template-areas: ". content content content .";
}

.content {
    grid-area: content;
    width: 100%;

    .nav {
        background-color: $nav-foot-back-col;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        height: 2em;
        font-size: larger;
        padding-top: 0.3em;
        a {
            vertical-align: middle;
            text-decoration: none;
            color: $link-color;
            &:hover {
                box-sizing: border-box;
                color: $hover-link-color;
                text-decoration: underline;
            }
        }
    }

    .main {
        color: $primary-color;
        text-align: center;
    }

    .footer {
        background-color: $nav-foot-back-col;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        bottom: 0;
        height: 2.6em;
        padding-top: 0.3em;
        font-size: larger;
        a {
            vertical-align: middle;
            text-decoration: none;
            color: $link-color;
            &:hover {
                box-sizing: border-box;
                color: $hover-link-color;
                text-decoration: underline;
            }
        }
    }
}