@import "settings";

// mostly made to center everything but navbar and footer
.container {
    display: grid;
    grid-template-columns: 20em repeat(3, 1fr) 20em;
    grid-gap: 1em;
    grid-template-areas: 
    "nav nav nav nav nav"
    ". presentation presentation presentation ."
    ". portfolio portfolio portfolio ."
    ". contacts contacts contacts ."
    ". nackademin nackademin nackademin ."
    "footer footer footer footer footer";
    // navbar
    .nav {
        background-color: $nav-foot-back-col;
        grid-area: nav;
        display: flex;
        justify-content: space-evenly;
        padding: 1.2em;
        position: sticky;
        z-index: 1;
        top: 0;
        a {
            font-size: larger;
            text-decoration-line: none;
            color: $link-color;
            &:visited {
                color: $link-color;
            }
            &:hover {
                color: $hover-link-color;
                text-decoration-line: underline;
            }            
        }
    }
    .presentation {
        grid-area: presentation;
        .profilePic {
            float: left;
        }
    }
    .portfolio {
        grid-area: portfolio;
    }
    .contacts {
        grid-area: contacts;
    }
    .nackademin {
        grid-area: nackademin;
    }
    .footer {
        grid-area: footer;
        background-color: $nav-foot-back-col;
        display: flex;
        justify-content: space-evenly;
        padding: 0.8em;
        position: sticky;
        z-index: 1;
        bottom: 0;
        a {
            font-size: larger;
            text-decoration-line: none;
            color: $link-color;
            &:visited {
                color: $link-color;
            }
            &:hover {
                color: $hover-link-color;
                text-decoration-line: underline;
            }            
        }
    }
}