.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #c8e8f0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 20em 1fr 1fr 20em;
      grid-template-columns: 20em 1fr 1fr 20em;
  grid-gap: 3em 1em;
      grid-template-areas: 'nav nav nav nav' '. profilePic aboutMe .' '. acme quiz .' '. contactInfo tipsfedora .' '. schoolpic nackademinInfo .' 'footer footer footer footer';
}

.container .nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  padding: 1.2em;
  top: 0;
  background-color: rgba(169, 234, 236, 0.842);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
}

.container .nav img {
  padding-right: 0.4em;
}

.container .nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #1702f7;
}

.container .nav a:visited {
  color: #1702f7;
}

.container .nav a:hover {
  color: #eb0d0d;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.container .profilePic {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: profilePic;
  -ms-grid-column-align: end;
      justify-self: end;
  max-width: 340px;
  margin: 1em 0;
}

.container .aboutMe {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aboutMe;
  color: black;
}

.container .aboutMe h1 {
  font-size: 2.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.container .aboutMe p {
  font-family: Courier, Monaco, monospace;
}

.container .aboutMe span {
  color: #5c0202;
}

.container .acme {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: acme;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 2em;
}

.container .quiz {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: quiz;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  padding-left: 2em;
}

.container .quiz h1 {
  font-style: italic;
  color: #1702f7;
  padding-bottom: 4em;
}

.container .contactInfo {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: contactInfo;
}

.container .contactInfo h1 {
  text-align: center;
  font-style: italic;
  padding-bottom: 1em;
}

.container .contactInfo p {
  text-align: end;
  font-size: large;
  margin-right: 2.6em;
}

.container .tipsfedora {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: tipsfedora;
  margin-left: 1em;
  max-width: 340px;
}

.container .schoolpic {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: schoolpic;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1em;
  max-width: 340px;
}

.container .nackademinInfo {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: nackademinInfo;
}

.container .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  padding: 0.8em;
  bottom: 0;
  background-color: rgba(169, 234, 236, 0.842);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
}

.container .footer img {
  padding-right: 0.4em;
}

.container .footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #1702f7;
}

.container .footer a:visited {
  color: #1702f7;
}

.container .footer a:hover {
  color: #eb0d0d;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media only screen and (max-width: 1040px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10em 1fr 10em;
        grid-template-columns: 10em 1fr 10em;
        grid-template-areas: "nav nav nav" ". aboutMe ." ". profilePic ." ". acme ." ". quiz ." ". contactInfo ." ". tipsfedora ." ". schoolpic ." ". nackademinInfo ." "footer footer footer";
  }
  .container .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
    background-color: rgba(169, 234, 236, 0.842);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: -webkit-sticky;
    position: sticky;
  }
  .container .nav img {
    padding-right: 0.4em;
  }
  .container .nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: larger;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: #1702f7;
  }
  .container .nav a:visited {
    color: #1702f7;
  }
  .container .nav a:hover {
    color: #eb0d0d;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .container .profilePic {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: profilePic;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .container .aboutMe {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: aboutMe;
    margin-left: 1.4em;
  }
  .container .acme {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: acme;
  }
  .container .quiz {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: quiz;
    padding: 0;
  }
  .container .quiz h1 {
    padding: 0;
  }
  .container .contactInfo {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: contactInfo;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .container .contactInfo p {
    text-align: start;
  }
  .container .tipsfedora {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: tipsfedora;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0;
  }
  .container .schoolpic {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    grid-area: schoolpic;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0;
  }
  .container .nackademinInfo {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    grid-area: nackademinInfo;
  }
  .container .footer {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
    background-color: rgba(169, 234, 236, 0.842);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: -webkit-sticky;
    position: sticky;
  }
  .container .footer img {
    padding-right: 0.4em;
  }
  .container .footer a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: larger;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: #1702f7;
  }
  .container .footer a:visited {
    color: #1702f7;
  }
  .container .footer a:hover {
    color: #eb0d0d;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

@media screen and (max-width: 680px) {
  * {
    color: gold;
  }
}
/*# sourceMappingURL=main.css.map */