@import "settings";

// mostly made to center everything but navbar and footer
.container {
    box-sizing: border-box;
    background-color: $background-color;
    display: grid;
    justify-content: center;
    grid-template-columns: 20em repeat(2, 1fr) 20em;
    grid-gap: 1em;
    grid-template-areas: 
    'nav nav nav nav'
    '. profilePic aboutMe .'
    '. acme yatzy .'
    '. contactInfo tipsfedora .'
    '. schoolpic nackademinInfo .'
    'footer footer footer footer';
    // navbar
    .nav {
        grid-area: nav;
        padding: 1.2em;
        top: 0;
        @include navAndFootStyle;
    }
    .profilePic {
        grid-area: profilePic;
        max-width: 360px;
        margin: 1em;
    }
    .aboutMe {
        grid-area: aboutMe;
        width: 100%;
        color: black;
        h1 {
            font-size: 2.6em;
            font-family: Arial, Helvetica, sans-serif;
        }
        p {
            font-family: Courier, Monaco, monospace;
        }
        span {
            color: rgb(92, 2, 2);
        }
    }
    .acme {
        grid-area: acme;
    }
    .yatzy {
        grid-area: yatzy;
    }
    .contactInfo {
        grid-area: contactInfo;
    }
    .tipsfedora {
        grid-area: tipsfedora;
    }
    .schoolpic {
        grid-area: schoolpic;
    }
    .nackademinInfo {
        grid-area: nackademinInfo;
    }
    .footer {
        grid-area: footer;
        padding: 0.8em;
        bottom: 0;      
        @include navAndFootStyle;
    }
}